name: Dependabot Pull Request Approve and Merge

on:
  workflow_call:
    inputs:
      pr-url:
        description: 'Pull Request URL'
        required: true
        type: string
    secrets:
      repo-token:
        description: 'Token for checkout and push'
        required: true

jobs:
  dependabot:
    runs-on: ubuntu-latest
    # Checking the actor will prevent your Action run failing on non-Dependabot
    # PRs but also ensures that it only does work for Dependabot PRs.
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      # This first step will fail if there's no metadata and so the approval
      # will not occur.
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2.2.0
        with:
          github-token: '${{ secrets.repo-token }}'

      # Here the PR gets approved.
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ inputs.pr-url }}
          GITHUB_TOKEN: ${{ secrets.repo-token }}'

      # Finally, this sets the PR to allow auto-merging for patch and minor
      # updates if all checks pass
      - name: Enable auto-merge for Dependabot PRs
        if: ${{ steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ inputs.pr-url }}
          GITHUB_TOKEN: ${{ secrets.repo-token }}'
